<div class="container">
<h1>C Infinity Media</h1>
<p>Light Percieving Light</p>

<br />

	<a href="https://github.com/ctodmia" target="blank">
		<%= image_tag("giticon.png") %> </a>
	<a href="https://www.linkedin.com/in/carinetodmia" target="blank">
		<%= image_tag("linkedinicon.png") %> </a>
	<a href="https://twitter.com/cinfinitymedia" target="blank">
		<%= image_tag("twittericon.png") %> </a>
	<a href="http://www.pinterest.com/carinetodmia/" target="blank">
		<%= image_tag("pinteresticon.png") %> </a>
	<a href="https://www.tumblr.com/blog/hellomizzbozz" target="blank">
		<%= image_tag("tumblricon.png") %> </a>
</div>